<link rel="stylesheet" href="~/css/home/index.css">
<h1>Welcome to the Dojo Activity Center</h1>
<div class="column">
    <h1>Register</h1>
    <partial name="RegisterPartial" />
</div>
<div class="column">
    <h1>Login</h1>
    <partial name="LoginPartial" />
</div>